# Extensions to exclude
*.old
*.bak
*.lock
*.log
*.pyc
*.code-workspace
~
~$

# Folders to exclude
*.old/
*.bak/
__pycache__/
.backup/
.backups/
.vscode/
.idea/
_Archive/
_Archived/
archive/
archived/
backup/
backups/
build/
dist/
logs/
testing/
temp/

# Other
*.egg-info/
*7za*